<a href="https://colab.research.google.com/github/Karalius/Calculator/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import random
import math
import time
import re

In [ ]:
import psycopg2

# Connect to heroku, P.S. Hide this in local!
sql_connection = psycopg2.connect(
    database="dfvnovppbbq4rl",
    user="yntjjrygcmheyc",
    password="477cb32bc389caa14bd09da3c5c4a5ee704213bce0033af8db470ea5fbd2f5de",
    host="ec2-34-254-69-72.eu-west-1.compute.amazonaws.com",
    port="5432"
)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
cur = sql_connection.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS categories (
    id serial PRIMARY KEY,
    category varchar(250)
);

CREATE TABLE IF NOT EXISTS items (
    id serial PRIMARY KEY,
    category_id int,
    title varchar(250),
    price int,
    item_url varchar(500),
    img_url varchar(500),
    FOREIGN KEY (category_id) REFERENCES categories(id)
);

''')

sql_connection.commit()

In [ ]:
# Create dataframe

In [ ]:
dict_data = {'category' : ['namai', 'namai', 'namai', 'butai', 'butai', 'sklypai'],
             'title': ['nam','nam','nam','but','but', 'sklyp'],
             'price': [100, 120, 140, 200, 220, 300],
             'item_url': ['url1','url2','url3','url4','url5','url6'],
             'img_url': ['img1','img2','img3', 'img4', 'img5', 'img6']
             }

In [ ]:
df = pd.DataFrame(dict_data)

In [ ]:
df

  category  title  price item_url img_url
0    namai    nam    100     url1    img1
1    namai    nam    120     url2    img2
2    namai    nam    140     url3    img3
3    butai    but    200     url4    img4
4    butai    but    220     url5    img5
5  sklypai  sklyp    300     url6    img6

In [ ]:
cur = sql_connection.cursor()
for i in df['category'].unique():
    cur.execute(f"INSERT INTO categories (category) VALUES ('{i}');")
sql_connection.commit()

In [ ]:
cur.execute("SELECT * FROM categories;")
for row in cur.fetchall():
    print(row)

(1, 'namai')
(2, 'butai')
(3, 'sklypai')

In [ ]:
sql_connection.close()

In [ ]:
import numpy as np

In [ ]:
foreign_key_df = pd.DataFrame(df['category'].unique(), columns=['category']).reset_index().rename(columns={'index': 'category_id'})
foreign_key_df['category_id'] = np.arange(1, len(foreign_key_df)+1)

In [ ]:
items_df = pd.merge(
    df,
    foreign_key_df,
    on='category'
).drop(columns='category')

In [ ]:
items_df.insert(0, 'category_id', items_df.pop('category_id'))

In [ ]:
items_df

   category_id  title  price item_url img_url
0            1    nam    100     url1    img1
1            1    nam    120     url2    img2
2            1    nam    140     url3    img3
3            2    but    200     url4    img4
4            2    but    220     url5    img5
5            3  sklyp    300     url6    img6

In [ ]:
from sqlalchemy import create_engine

conn = create_engine('postgresql://yntjjrygcmheyc:477cb32bc389caa14bd09da3c5c4a5ee704213bce0033af8db470ea5fbd2f5de@ec2-34-254-69-72.eu-west-1.compute.amazonaws.com:5432/dfvnovppbbq4rl')

items_df.to_sql('items', conn, method='multi', if_exists='append', chunksize=10000, index=False)

In [ ]:
sql_connection = psycopg2.connect(
    database="dfvnovppbbq4rl",
    user="yntjjrygcmheyc",
    password="477cb32bc389caa14bd09da3c5c4a5ee704213bce0033af8db470ea5fbd2f5de",
    host="ec2-34-254-69-72.eu-west-1.compute.amazonaws.com",
    port="5432"
)

In [ ]:
# connect psycopg2 again
cur = sql_connection.cursor()
cur.execute("SELECT * FROM items;")
for row in cur.fetchall():
    print(row)

(1, 1, 'nam', 100, 'url1', 'img1')
(2, 1, 'nam', 120, 'url2', 'img2')
(3, 1, 'nam', 140, 'url3', 'img3')
(4, 2, 'but', 200, 'url4', 'img4')
(5, 2, 'but', 220, 'url5', 'img5')
(6, 3, 'sklyp', 300, 'url6', 'img6')

In [ ]:
def get_csv():
    from google.colab import files

    cur = sql_connection.cursor()

    s = "SELECT items.id, categories.category, items.title, items.price, items.item_url, items.img_url FROM items JOIN categories ON categories.id = items.category_id"

    # Use the COPY function on the SQL we created above.
    SQL_for_file_output = "COPY ({0}) TO STDOUT WITH CSV HEADER".format(s)

    # Set up a variable to store our file path and name.

    #t_path_n_file = "C:\Users\37069\Desktop"

    with open('data.csv', 'w') as f_output:
        cur.copy_expert(SQL_for_file_output, f_output)

    files.download('data.csv')

In [ ]:
get_csv()

In [ ]:
from lxml.html import fromstring


def get_proxies():
    url = 'https://free-proxy-list.net/'
    response = requests.get(url)
    parser = fromstring(response.text)
    proxies = set()
    for i in parser.xpath('//tbody/tr')[:20]:
        if i.xpath('.//td[7][contains(text(),"yes")]'):
            proxy = ":".join([i.xpath('.//td[1]/text()')[0], i.xpath('.//td[2]/text()')[0]])
            proxies.add(proxy)
    return proxies

In [ ]:
headers = {
    'authority': 'www.etsy.com',
    'sec-ch-ua': '^\\^Google',
    'sec-ch-ua-mobile': '?0',
    'upgrade-insecure-requests': '1',
    'user-agent': f'{ua.random}',
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-user': '?1',
    'sec-fetch-dest': 'document',
    'referer': 'https://www.etsy.com/', # add changing referer
    'accept-language': 'en-US,en;q=0.9',
}

params = (
    ('explicit', '1'),
    ('ref', 'pagination'),
    ('page', f'{page_no}'),
)

response = requests.get('https://www.etsy.com/c/bags-and-purses/handbags/clutches-and-evening-bags', headers=headers, params=params)

In [2]:
!pip install fake-useragent

Collecting fake-useragent
  Downloading https://files.pythonhosted.org/packages/d1/79/af647635d6968e2deb57a208d309f6069d31cb138066d7e821e575112a80/fake-useragent-0.1.11.tar.gz
Building wheels for collected packages: fake-useragent
  Building wheel for fake-useragent (setup.py) ... done
  Created wheel for fake-useragent: filename=fake_useragent-0.1.11-cp37-none-any.whl size=13485 sha256=c89045e14a35758ecf3a15f116589a6ff023318b78217d900b246e472f63143d
  Stored in directory: /root/.cache/pip/wheels/5e/63/09/d1dc15179f175357d3f5c00cbffbac37f9e8690d80545143ff
Successfully built fake-useragent
Installing collected packages: fake-useragent
Successfully installed fake-useragent-0.1.11

In [5]:
from fake_useragent import UserAgent

In [6]:
ua = UserAgent(use_cache_server=False)

In [ ]:
def scrape_etsy(keywords: list, items_to_scrape: int) -> pd.DataFrame:
    proxies = get_proxies()
    average_items_per_page = 64
    pages_to_scrape = math.ceil(items_to_scrape / average_items_per_page)
    df_list = []

    for key in keywords:
        titles, prices, item_urls, img_urls = ([] for i in range(4))
        adj_keyword = key.lower()

        for page_no in range(1, pages_to_scrape + 1):
            for proxy in proxies:
                try:
                    page = requests.get(
                        f"https://www.aruodas.lt/{adj_keyword}/puslapis/{page_no}/",
                        headers = {
                            'authority': 'www.etsy.com',
                            'sec-ch-ua': '^\\^Google',
                            'sec-ch-ua-mobile': '?0',
                            'upgrade-insecure-requests': '1',
                            'user-agent': f'{ua.random}',
                            'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
                            'sec-fetch-site': 'same-origin',
                            'sec-fetch-mode': 'navigate',
                            'sec-fetch-user': '?1',
                            'sec-fetch-dest': 'document',
                            'referer': 'https://www.etsy.com/', # add changing referer
                            'accept-language': 'en-US,en;q=0.9',
                        },
                        proxies={"http": str(proxy), "https": str(proxy)},
                        params = (
                            ('explicit', '1'),
                            ('ref', 'pagination'),
                            ('page', f'{page_no}'),
                        )
                        {'FOrder': 'AddDate'} # ADD IF WANT NEWEST FIRST
                    )
                except requests.exceptions.RequestException as e:
                    continue
                else:
                    break

            soup = BeautifulSoup(page.content, 'html.parser')

            for value in soup.find_all('div', attrs={'class': "list-photo"}):
                  titles.extend([title.img['alt'] for title in value.find_all('a')])
                  item_urls.extend([link['href'] for link in value.find_all('a')])
                  img_urls.extend([title.img['src'] for title in value.find_all('a')])

            for price in soup.find_all('span', attrs={'class': 'list-item-price'}):
                    converted_price = "".join(re.findall(r'\d+', str(price)))
                    prices.append(int(converted_price))

        df_list.append(pd.DataFrame({
        'category': adj_keyword,
        'title': titles,
        'price': prices,
        'item_url': item_urls,
        'img_url': img_urls
    }))
   
    return pd.concat(df_list, ignore_index=True)